@import "styles/Common.scss";

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    //color: #c5a57d;
    color: $dark;

    //GPT recommendation, for reference temporarily
    //      Pale gold (#e6be8a) - Contrast ratio: 4.58:1
    //      Light pinkish-orange (#ffc2b4) - Contrast ratio: 4.51:1
    //      Dusty rose gold (#c5a57d) - Contrast ratio: 4.54:1
    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150rem;
        box-sizing: border-box;
        flex-grow: 1;

        @media only screen and (max-width: 1200px) {
            width: 100%;
            padding: 0 2.4rem;
        }

        .subtitle {
            box-sizing: border-box;
            width: 50%;
            margin: 3.6rem 0;
            text-align: center;

            a {
                text-decoration: underline;
            }
            @media only screen and (max-width: 480px) {
                width: 100%;
                padding: 0 2.4rem;
            }
        }

        .cards-container {
            display: flex;
            flex-wrap: wrap;
            gap: 4rem 2rem;
            margin-bottom: 4rem;

            @media only screen and (max-width: 480px) {
                width: 100%;
                padding: 0;
            }
        }
    }
}
