@import "styles/Common.scss";

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 3.6rem;
    box-shadow: -1px 1px 5px 1px #d9d9d9; //overwrite original MUI box-shadow
    width: 850px;

    .reverse {
        flex-direction: row-reverse;
    }

    :global {
        .MuiTypography-root {
            font-weight: 500;
        }
    }

    &:hover {
        box-shadow: $general-box-shadow;

        img {
            animation: saturate 0.3s ease-in forwards;
        }
    }

    .card-content-container {
        display: flex;
        width: 100%;

        .text-container {
            width: 75%;
            padding: 2.4rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .text {
                display: flex;
                flex-direction: column;

                .description {
                    padding: 0.8rem 0 2.4rem 0;
                }
            }
        }

        .image-container {
            width: 50%;
            border-radius: 0;
            filter: saturate(50%);

            @media only screen and (max-width: 768px) {
                width: 100%;
                height: 100%;
            }
        }

        @media only screen and (max-width: 768px) {
            flex-direction: column-reverse;
            align-items: center;

            .text-container {
                width: 100%;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

    @media only screen and (max-width: 480px) {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
}

@keyframes saturate {
    from {
        filter: saturate(50%);
    }
    to {
        filter: saturate(100%);
    }
}
