@import "../../../../../styles/Common";

.container {
    height: 100%;
    width: 100%;
    position: absolute;

    &:hover {
        .dropdown-menu {
            display: flex;
        }
    }

    .dropdown-menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 80px;
        left: 0;
        height: min-content;
        background-color: white;
        color: #2f2f2f;
        padding: 24px;
        border-radius: 8px;
        box-shadow: 1px 1px 8px #cecece;
        gap: 16px;
        font-size: 1.2rem;
        z-index: 1;

        a:hover {
            color: $brand-color;
        }
    }
}
