@import "styles/Common.scss";

.container {
    background-color: $primary-dark;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-container {
        flex-grow: 1;
    }
}
