.container {
    display: flex;
    align-items: center;
    gap: 8px;


    // https://angel-rs.github.io/css-color-filter-generator/
    img {
        filter: brightness(0) saturate(100%) invert(11%) sepia(7%) saturate(5%)
        hue-rotate(20deg) brightness(93%) contrast(84%);
    }

    a {
        color: white;
    }

    svg {
        font-size: 2.4rem;
        color: #2b2b2b;
    }

    // No svg icon available, this align the icon with the rest
    .bilibili-logo {
        //width: 2rem;
        //height: 2rem;
        margin-left: 0.3rem;
        //padding-bottom: 0.2rem;
    }

    .spotify-logo {
        width: 2rem;
        height: 2rem;
        margin-left: 0.3rem;
        padding-bottom: 0.2rem;
    }
}
