@import "../../../../styles/Common";

.container {
    width: 100%;
    min-height: 850px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        color: white;
    }

    .content-container {
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;


        .event-card-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            justify-content: center;
            align-items: center;
        }
    }

    .background-container {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -2;
        top: 0;
        left: 0;

        .image-container {
            > div {
                position: unset !important;
            }

            img {
                object-fit: cover;
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            background: $dark;
            opacity: 90%;
        }
    }
}
