@import "styles/Common";

.container {
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 3px solid white;
    box-sizing: border-box;
    position: relative;
    text-align: center;

    &:hover {
        border-bottom: 3px solid $brand-color;
        font-weight: 700;
        color: $brand-color;
        svg {
            font-weight: bold;
        }
    }

    > a {
        line-height: 2rem;
        // to set the width so the element does not move when it becomes bold
        &::before {
            display: block;
            content: attr(title);
            font-weight: 700;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }
}

.selected {
    color: $brand-color;
    border-bottom: 3px solid $brand-color;;
    font-weight: 700;
}
