.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: #111113;

    .background-container {
        img {
            object-fit: contain;
            object-position: 100%;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 40%;
        }
    }

    .content {
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .text-container {
            margin-bottom: 24px;

            .header {
                font-size: 72px;
            }

            .subtitle {
                width: 100%;
                text-align: center;
            }
        }

        .social-media-container {
            display: flex;
            gap: 8px;

            a {
                color: white;
            }

            svg {
                font-size: 36px;
            }
        }
    }
}
