@import "styles/Common.scss";

.container {
    //width: 70rem;
    padding: 4rem;
    min-height: 450px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 768px) {
        padding: 3rem;
        width: 100%;
    }

    .snackbar {
        font-size: 1.6rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        margin-bottom: 2rem;

        .name-input-container {
            display: flex;
            gap: 2rem;

            @media only screen and (max-width: 480px) {
                flex-direction: column;
            }
        }
    }

    .recaptcha-disclaimer {
        font-size: 1.2rem;
        color: #9b9b9b;

        a {
            text-decoration: underline;
            color: #8a8a8a;
        }
    }
    .button-container {
        display: flex;
        justify-content: center;
    }
}
