.container {
    width: 70rem;
    padding: 4rem;
    min-height: 400px;
    background: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    border-radius: 1.6rem;

    .snackbar {
        font-size: 1.6rem;
    }

    .name-input-container {
        display: flex;
        gap: 2rem;
    }

    .button-container {
        display: flex;
        justify-content: center;
    }
}
