.container {
    background-color: antiquewhite;
    width: 100vw;
    min-height: 80px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;

    .links-container {
        > a {
            margin-right: 24px;
        }
    }
}
