@import "styles/Common.scss";

.container {
    background-color: #231e1e;
    width: 100vw;
    min-height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    position: sticky;
    top: 0;

    .links-container {
        display: flex;
        a {
            margin-right: 24px;
        }

        .dropdown-container {
            position: relative;
            .dropdown-menu {
                display: none;
            }

            &:hover {
                .dropdown-menu {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    height: min-content;
                    background-color: #1c1c1c;
                    padding: 12px 4px;

                    a {
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}
