@import 'styles/Common.scss';

.container {
    border-top: 0.6rem solid white;
    border-bottom: 0.6rem solid white;
    color: #2f2f2f;

    font-size: 3.6rem;
    font-weight: 500;
    margin: 3.6rem 0 4.8rem 0;
    letter-spacing: 0.4rem;
    text-align: center;
    text-transform: uppercase;

    @media only screen and (max-width: 480px) {
        font-size: 2.4rem;
        padding: 2rem 2rem;
    }
}

.no-border {
    border-top: none;
    border-bottom: none;
}
