@import "styles/Common.scss";

.container {
    background-color: $darker;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    box-sizing: border-box;
    height: 124px;
    z-index: 2; // to be on top of MUI TextField text
    user-select: none;
    .links-container {
        @media only screen and (max-width: 768px) {
            display: none;
            visibility: hidden;
        }

        display: flex;
        justify-content: center;
        text-transform: uppercase;
        gap: 24px;
        letter-spacing: 2px;
        width: 40rem;
        height: 100%;
    }
}

.sticky {
    position: sticky;
    top: 0;
}

.drawer-container {
    display: none;
    position: absolute;

    right: 4.5rem;
    top: 4.5rem;

    @media only screen and (max-width: 768px) {
        display: block;
    }

    .menu-icon {
        font-size: 3rem;
        cursor: pointer;
    }
}
