@import "styles/Common.scss";

.container {
    background-color: #231e1e;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    box-sizing: border-box;
    height: 124px;
    z-index: 2; // to be on top of MUI TextField text

    .links-container {
        @media only screen and (max-width: 768px) {
            display: none;
            visibility: hidden;
        }

        display: flex;
        justify-content: center;
        text-transform: uppercase;
        gap: 24px;
        letter-spacing: 2px;
        width: 40rem;
        height: 100%;

        .link-container {
            display: flex;
            align-items: center;
            height: 100%;
            border-bottom: 3px solid #231e1e;
            box-sizing: border-box;
            position: relative;

            &:hover {
                border-bottom: 3px solid white;
                font-weight: 700;
            }

            //.dropdown-menu {
            //    &:hover {
            //        display: block !important;
            //    }
            //}

            > a {
                line-height: 2rem;
                // to set the width so the element does not move when it becomes bold
                &::before {
                    display: block;
                    content: attr(title);
                    font-weight: 700;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                }
            }
        }

        .selected {
            border-bottom: 3px solid white;
            font-weight: 700;
        }
    }
}

.sticky {
    position: sticky;
    top: 0;
}
