$primary-dark: #353535;
//$gold: #b28374;
$gold: #c5a57d;
$box-shadow-primary-dark: 20px 20px 60px #2d2d2d, -20px -20px 60px #3d3d3d;
$darker: #231e1e;

//GPT recommendation, for reference temporarily
//      Pale gold (#e6be8a) - Contrast ratio: 4.58:1
//      Light pinkish-orange (#ffc2b4) - Contrast ratio: 4.51:1
//      Dusty rose gold (#c5a57d) - Contrast ratio: 4.54:1