@import "styles/Common.scss";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: $dark;

    .header-placeholder {
        min-height: 124px;
    }
}
