@import "styles/Common.scss";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #353535;

    .header-placeholder {
        min-height: 124px;
    }

    .section-header {
        border-top: 0.6rem solid white;
        border-bottom: 0.6rem solid white;
        color: white;

        margin: 2.4rem 0;
        font-size: 2.4rem;
    }
}
