@import "../../../../../styles/Common";

.container {
    flex: 1 0 21%;
    display: flex;
    justify-content: center;
    width: 25rem;

    :global {
        .MuiPaper-root {
            border-radius: 0.8rem;
        }
    }
    .card {
        box-shadow: -1px 1px 5px 1px #d9d9d9; //overwrite original MUI box-shadow

        &:hover {
            box-shadow: $general-box-shadow;
        }

        .card-header {
            :global {
                // to allow ellipsis when title is too long, default behaviour of MUI Card is text wrap
                .MuiCardHeader-content {
                    flex: 1 1 auto;
                    width: 100%;

                    .MuiTypography-root {
                        font-size: 1.6rem !important;
                        letter-spacing: 0.1rem;
                    }
                }
            }
        }
        .card-content-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .button-container {
                display: flex;
                justify-content: center;
            }

            .view-on-container {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 1.2rem;

                span {
                    margin-right: 1.2rem;
                }
            }
        }
    }
}
